 /* table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
  } */

  th, td {
    /* padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left; */
    /* background-color: red; */
    padding: 1rem;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
    /* background-color: red; */

    padding: 1rem;
    font-size: 0.5rem;
  }



  /* .align-right {
    text-align: right;
  } */